@model IEnumerable<AuthMvc.Models.Chambre>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Categorie)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Surface)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Image)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Categorie)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Surface)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Image)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.IdChambre">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.IdChambre">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.IdChambre">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
<ul class="list-unstyled nav1 cl-effect-10">
    <li><a data-hover="Manage Users" asp-action="Index" asp-controller="AdminUsers"><span>Manage Users</span></a></li>
    <li><a data-hover="Manage Reservations" asp-action="Index" asp-controller="AdminReservations"><span>Manage Reservations</span></a></li>
    <li><a data-hover="Manage Rooms" asp-action="Index" asp-controller="AdminRooms"><span>Manage Rooms</span></a></li>
    <li><a data-hover="Manage Restaurant" asp-action="Index" asp-controller="AdminRestaurant"><span>Manage Restaurant</span></a></li>
</ul>