@model AuthMvc.Models.Reservation

@{
    ViewData["Title"] = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Reservation</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.UserName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.UserName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Date_entrée)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Date_entrée)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Date_sortie)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Date_sortie)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.NombrePlace)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.NombrePlace)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Chambre)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Chambre.Description)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="IdReservation" />
        <input type="submit" value="Delete" class="btn btn-default" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
